<div class="container mt-3">
  <div class="jumbotron">
        <h1 class="display-4">ng-d3-charts</h1>
        <p class="lead">
          Angular charts built using d3. 
        </p>        
        <div>
            <a href="https://github.com/Peter554/ng-d3-charts" class="btn btn-primary">
              Find me on GitHub
            </a>
        </div>
  </div>

  <ul>
    <li><a href="#bar-chart-demo">Bar Chart</a></li>
    <li><a href="#scatter-chart-demo">Scatter Chart</a></li>
  </ul>

  <h2>Install</h2>
  <pre>
npm install d3
npm install ng-d3-charts</pre>

  <h2>Chart Properties</h2>
  <ul>
    <li>All properties are optional.</li>
    <li>The following two syntaxes are equally valid:</li>
  </ul>

  <pre>
  {{ html1 }}</pre>

  <pre>
  {{ html2 }}</pre>


  <app-bar-chart-demo id="bar-chart-demo"></app-bar-chart-demo>
  <app-scatter-chart-demo id="scatter-chart-demo"></app-scatter-chart-demo>

</div>
