/* You can add global styles to this file, and also import other style files */

$body-bg: #fefffa;
$body-color: #222;

$theme-colors: (
  "custom-color": #090
);

@import "node_modules/bootstrap/scss/bootstrap";
