/* You can add global styles to this file, and also import other style files */

$body-color: #222;

$theme-colors: (
  "primary": #c0c
);

@import "node_modules/bootstrap/scss/bootstrap";

pre {
  color: #555;
  background-color: #f3f3f3;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 20px -10px rgba(51,51,51,0.5);
  -moz-box-shadow: 5px 5px 20px -10px rgba(51,51,51,0.5);
  box-shadow: 5px 5px 20px -10px rgba(51,51,51,0.5);
}

a {
  color: black;
}

h2 {
  margin: 2rem 0;
  font-size: 1.4rem; 
  font-weight: bold; 
}

h3 {
  font-size: 1.2rem;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

