<div class="card card-body mt-3">
  <h2>Scatter Chart</h2>
  <scatter-chart
    [data]="data"
    [title]="title"
    xLabel="Score A"
    yLabel="Score B"
    [color]="color"
  ></scatter-chart>

  <div class="my-3">
      <button class="btn btn-primary mr-3" type="button" data-toggle="collapse" data-target="#scatterChartDemoCode">
        Example Code | <i class="fas fa-chevron-circle-down"></i>
      </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#scatterChartInputs">
          @Inputs | <i class="fas fa-chevron-circle-down"></i>
        </button>
  </div>

    <div class="collapse" id="scatterChartDemoCode">
<pre class="my-3">{{ exampleCode }}</pre>
    </div>

    <div class="collapse" id="scatterChartInputs">
        <table class="table my-3">
            <thead>
              <tr>
                <th scope="col">@Input</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Default Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>data</td>
                <td>number[ ][ ]</td>
                <td>The data values</td>
                <td>[ ]</td>
              </tr>
              <tr>
                <td>title</td>
                <td>string</td>
                <td>The chart title</td>
                <td>' '</td>
              </tr>
              <tr>
                <td>xLabel</td>
                <td>string</td>
                <td>The x-axis label</td>
                <td>' '</td>
              </tr>
              <tr>
                <td>yLabel</td>
                <td>string</td>
                <td>The y-axis label</td>
                <td>' '</td>
              </tr>
              <tr>
                <td>color</td>
                <td>string (hex)</td>
                <td>The color theme</td>
                <td>'#e0e'</td>
              </tr>
              <tr>
                <td>width</td>
                <td>number</td>
                <td>The chart max-width in px</td>
                <td>600</td>
              </tr>
              <tr>
                <td>height</td>
                <td>number</td>
                <td>The chart max-height in px</td>
                <td>500</td>
              </tr>
              <tr>
                <td>pointSize</td>
                <td>number</td>
                <td>The point size</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
</div>
